<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- navbar items, navbar burger... -->
    <a class="navbar-item " href="#">
      <div class="has-text-weight-bold is-size-3 has-text-centered">Hello JWT</div>
    </a>

    <a class="navbar-item " routerLink="/dashboard" routerLinkActive="active">
        Dashboard
    </a>
    <a *ngIf="isLoggedIn()"
      class="navbar-item " (click)="onLogout()">
      Logout
    </a>
  </div>
  
</nav>

<router-outlet></router-outlet>
